/* #region main button */
.button {
  background: #4b9d1e;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  max-width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: background 0.4s ease;
}
.button:hover {
  background: #45901c;
}

.button img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  object-fit: contain;
}

.button p {
  color: #cdfffa;
  font-size: 16px;
}
/* #endregion main button */


/* #region side button */
.button-side-color {
  background: #707070 !important;
}
.button-side-color:hover {
  background: #676767 !important;
}
/* #endregion side button */


/* #region img button */
.img-button {
  width: 30px;
  object-fit: contain;
  cursor: pointer;
  transition: filter 0.4s ease;
}
.img-button:hover {
  filter: brightness(0.85);
}
/* #endregion img button */