/* #region main button */
.button {
  background: #4b9d1e;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  max-width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: filter 0.2s ease;
}

.button img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  object-fit: contain;
  transition: filter 0.2s ease;
}

.button p {
  color: #cdfffa;
  font-size: 16px;
  font-weight: 500;
  transition: filter 0.2s ease;
}

.button:hover, 
.button:hover > img,
.button:hover > p {
  filter: brightness(1.05);
}

.button:active, 
.button:active > img,
.button:active > p {
  filter: brightness(0.95);
}
/* #endregion main button */


/* #region side button */
.button-side-color {
  background: #707070 !important;
}
/* #endregion side button */


/* #region img button */
.img-button {
  width: 30px;
  object-fit: contain;
  cursor: pointer;
  transition: filter 0.4s ease;
}
.img-button:hover {
  filter: brightness(0.85);
}
.img-button:active {
  filter: brightness(0.7);
}
/* #endregion img button */