/* #region General */
.display-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 50px;
}
@media (max-width: 1200px) {
  .display-item {
    min-height: 40px;
  }
}
/* #endregion General */


/* #region Text */
/* Text style for all the text used in the display item */
.di-text {
  min-width: 15%;
  width: 15%;
  max-width: 15%;
  text-align: center;
  font-size: 22px;
}
@media (max-width: 1200px) {
  /* Text style for all the text used in the display item */
  .di-text {
    font-size: 18px;
  }
}
/* #endregion Text */


/* #region Repeats */
.di-repeats-container{
  min-width: 15%;
  width: 15%;
  max-width: 15%;
  display: flex;
  justify-content: center;
}

/* Wraps the repeat images nicely on exactly 5 repeats */
.di-repeats-5 {
  max-width: 80px !important;
}

/* Wraps the repeat images */
#di-repeats {
  max-width: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#di-repeats > img {
  width: 20px;
  object-fit: contain;
  margin: 2px;
}

/* Only shows when there are no repeats instead of the imgs */
#di-repeats > p {
  margin: 0;
  font-size: 22px;
}


@media (max-width: 1200px) {
  /* Wraps the repeat images nicely on exactly 5 repeats */
  .di-repeats-5 {
    max-width: 60px !important;
  }

  /* Wraps the repeat images */
  #di-repeats{
    max-width: 80px;
  }

  #di-repeats > img {
    width: 15px;
  }

  /* Only shows when there are no repeats instead of the imgs */
  #di-repeats > p {
    font-size: 18px;
  }
}
/* #endregion Repeats */


/* #region Active State */
/* Container for the active toggle */
#toggle-active-state {
  min-width: 7%;
  width: 7%;
  max-width: 7%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* #endregion Active State */


/* #region Dots */
/* Dots Button */
#btn-dots {
  width: 2%;
  height: 32px;
  object-fit: contain;
  cursor: pointer;
  transition: filter 0.4s ease;
}
#btn-dots:hover {
  filter: brightness(0.85);
}

/* Dots Menu */
#dots-menu {
  position: absolute;
  background-color: #252936;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5px;
  z-index: 1;
  transition: opacity 0.4s ease;
}

#dots-menu p {
  color: white;
  font-size: 16px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  transition: background-color 0.4s ease;
}
#dots-menu p:hover {
  background-color: #1f222d;
}
#dots-menu-remove {
  color: #ff5b42 !important;
}

@media (max-width: 1200px) {
  /* Dots Button */
  #btn-dots {
    height: 25px;
  }
}
/* #endregion Dots */